
@{
    ViewBag.Title = "Registration";
}

@Scripts.Render("~/bundles/report")
@Styles.Render("~/Content/report")


<style>
    .input-group-addon, .input-group-btn {
        width: inherit;
    }

    .float-left {
        float: left;
    }

    .rg-2m:first-child {
        margin-right: 1em;
    }

    .mg-2 {
        margin-bottom: 2em;
    }

    .chosen-container-multi .chosen-choices {
        border-radius: 3px;
        width: 500px;
    }
</style>

<div class="container mg-2">
    <h2>User Registrations</h2>
    <div class="bs-example" data-example-id="form-group-height-sizes">
        <form class="form-horizontal">

            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label" for="formGroupInputSmall">Game</label>
                <div class="col-sm-10">
                    <select id="gameID" ng-model="input.gameId" ng-change="findPromotion()" class="form-control" name="gameID">
                        @*<option value="0">Please select game</option>*@
                        @foreach (Awecent.Back.Serial.Models.Game game in ViewBag.Games)
                        {
                            <option value="@game.GameId">@game.GameName</option>
                        }
                    </select>

                </div>
            </div>
            @*<div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label" for="formGroupInputSmall">Small label</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" id="formGroupInputSmall" placeholder="Small input">
                    </div>
                </div>*@
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label" for="formGroupInputSmall">Date & Time</label>
                <div class="col-sm-10">

                    <div class="input-daterange input-group" id="datepicker">
                        <input type="text" class="input-sm form-control" name="start" />
                        <span class="input-group-addon">to</span>
                        <input type="text" class="input-sm form-control" name="end" />
                    </div>

                </div>
            </div>

            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label" for="formGroupInputSmall"></label>
                <div class="col-sm-10">
                    <button class="btn btn-info" type="button" ng-click="search()">Search</button>
                </div>

            </div>

        </form>
    </div>



</div>


<script type="text/javascript">
    $(function () {

        $('#datepicker').datepicker({
            format: "dd/mm/yyyy",
            todayHighlight: true,
            toggleActive: true
        });

    });
</script>


<div id="chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


@*<script type="text/javascript">

    $(function () {

        var colors = Highcharts.getOptions().colors,
            categories = ['User', 'Firefox', 'Chrome', 'Safari', 'Opera'],
            data = [{
                y: 200,
                color: colors[0],
                drilldown: {
                    name: 'User',
                    categories: ['Old', 'New'],
                    data: [120, 80],
                    color: colors[0]
                }
            }, {
                y: 100,
                color: colors[1],
                drilldown: {
                    name: 'Firefox versions',
                    categories: ['Firefox v31', 'Firefox v32', 'Firefox v33'],
                    data: [20, 50, 30],
                    color: colors[1]
                }
            }],
            browserData = [],
            versionsData = [],
            i,
            j,
            dataLen = data.length,
            drillDataLen,
            brightness;


        // Build the data arrays
        for (i = 0; i < dataLen; i += 1) {

            // add browser data
            browserData.push({
                name: categories[i],
                y: data[i].y,
                color: data[i].color
            });

            // add version data
            drillDataLen = data[i].drilldown.data.length;
            for (j = 0; j < drillDataLen; j += 1) {
                brightness = 0.2 - (j / drillDataLen) / 5;
                versionsData.push({
                    name: data[i].drilldown.categories[j],
                    y: data[i].drilldown.data[j],
                    color: Highcharts.Color(data[i].color).brighten(brightness).get()
                });
            }
        }

        // Create the chart
        $('#chart').highcharts({
            chart: {
                type: 'pie'
            },
            title: {
                text: 'Browser market share, January, 2015 to May, 2015'
            },
            subtitle: {
                text: 'Source: <a href="http://netmarketshare.com/">netmarketshare.com</a>'
            },
            yAxis: {
                title: {
                    text: 'Total percent market share'
                }
            },
            plotOptions: {
                pie: {
                    shadow: false,
                    center: ['50%', '50%']
                }
            },
            tooltip: {
                valueSuffix: ' person'
            },
            series: [{
                name: 'Browsers',
                data: browserData,
                size: '60%',
                dataLabels: {
                    formatter: function () {
                        return this.y > 5 ? this.point.name : null;
                    },
                    color: '#ffffff',
                    distance: -30
                }
            }, {
                name: 'Versions',
                data: versionsData,
                size: '80%',
                innerSize: '60%',
                dataLabels: {
                    formatter: function () {
                        // display only if larger than 1
                        return this.y > 1 ? '<b>' + this.point.name + ':</b> ' + this.y + ' person' : null;
                    }
                }
            }]
        });
    });

    $(function () {

       

        $(".btn-info").click(function () {

            var str = $("#datetimepicker6").find("input").val(),
                res = str.split("-"),
                $getDate = res[0],
                $getTime = res[1],
                resDate = $getDate.split("/"),
                $startDate = resDate[2].trim() + "-" + resDate[1] + "-" + resDate[0] + "" + $getTime + ":00";

            var str = $("#datetimepicker7").find("input").val(),
                res = str.split("-"),
                $getDate = res[0],
                $getTime = res[1],
                resDate = $getDate.split("/"),
                $endDate = resDate[2].trim() + "-" + resDate[1] + "-" + resDate[0] + "" + $getTime + ":00";

            //alert($("#gameID").chosen().val());


            $.ajax({
                type: 'POST',
                async: true,
                url: '/api/report/active/user/',
                data: {
                    gameID: '' + $("#gameID").chosen().val(),//+$("#gameID").chosen().val()
                    timeStart: $startDate,
                    timeEnd: $endDate
                },
                dataType: 'json',
                success: function (Json) {

                    var options = chartOption();
                    //aaa
                    jx = new Array(Json.data);
                    var JsonLenght = (jx[0].length - 1),
                        $data = "";


                    ja = new Array();
                    $.each(jx[0], function ($jsonKey, $jsonData) {
                        var $name = '',
                            $oneTime = true;
                        //console.log($jsonData);
                        $.each($jsonData.data, function (key, value) {

                            $name = value.gameID;
                            var $vas = key + 1;
                            ja[key] = value.count;//{ x: $vas, y: value.count }

                            //set line X (category)
                            var d = new Date(value.curTime);
                            var e = formatDate(d);
                            if ($oneTime) { options.xAxis.categories.push(e); }

                        });
                        $oneTime = false;
                        $data = JSON.stringify(ja);

                        // name of value
                        options.series.push({
                            name: $name != '' ? $("select#gameID option[value=" + $name + "]").html() : 'null',
                            data: $.parseJSON($data)
                        });

                    });//end each

                    //var chart = new Highcharts.Chart(options);



                   


                },

            });


        });






    });



    function chartOption() {

        var options = {
            chart: {
                renderTo: 'chart',
                type: 'line'
            },
            title: {
                text: 'Active User'
            },
            subtitle: {
                text: 'Source: Game'
            },
            xAxis: {
                //allowDecimals: false,
                //labels: {
                //    formatter: function () {
                //        return this.value;
                //    }
                //}
                categories: []
            },
            yAxis: {
                title: {
                    text: 'active to person'
                },
                labels: {
                    formatter: function () {
                        return this.value + '  person';
                    }
                }
            },
            tooltip: {
                pointFormat: '{series.name} produced <b>{point.y:,.0f}</b><br/>warheads in {point.x}'
            },

            plotOptions: {
                area: {
                    pointStart: 0,
                    marker: {
                        enabled: false,
                        symbol: 'circle',
                        radius: 2,
                        states: {
                            hover: {
                                enabled: true
                            }
                        }
                    }
                },
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: false
                }
            },
            series: []
        };


        return options;


    }



    function formatDate($date) {

        var d = new Date($date);
        var offset = (new Date().getTimezoneOffset() / 60) * -1;
        var date = new Date(d.getTime() - 1000 * 3600 * 7);

        var hours = date.getHours();
        var minutes = date.getMinutes();

        //var ampm = hours >= 12 ? 'pm' : 'am';
        //hours = hours % 12;
        //hours = hours ? hours : 12;
        //minutes = minutes < 10 ? '0' + minutes : minutes;
        //var strTime = hours + ':' + minutes + ' ' + ampm;
        return date.getDate() + "/" + date.getMonth() + "/" + date.getFullYear() + " - " + date.getHours() + ":00";
    }





</script>*@

