################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Awecent.Back.Serial/Log/2015-11
/Awecent.Back.Serial/Log/2015-12/2015-12-02.txt
/Awecent.Back.Serial/Log/2015-12/2015-12-03.txt
/Awecent.Back.Serial/Log/2015-12/2015-12-04.txt
/Awecent.Back.Serial/Log/2015-12/2015-12-22.txt
/Awecent.Back.Serial/Log/2015-12/2015-12-23.txt
/Awecent.Back.Serial/Log/2015-12/2015-12-24.txt
/Awecent.Back.Serial/Log/2015-12/Error-2015-12-23.txt
/Awecent.Back.Serial/Log/2015-12/2015-12-02.txt
/Awecent.Back.Serial/Log/2015-12/2015-12-03.txt
/Awecent.Back.Serial/Log/2015-12/2015-12-04.txt
/Awecent.Back.Serial/Log/2015-12/2015-12-22.txt
/Awecent.Back.Serial/Log/2015-12/2015-12-23.txt
/Awecent.Back.Serial/Log/2015-12/2015-12-24.txt
/Awecent.Back.Serial/Log/2015-12/Error-2015-12-23.txt
